body{
font-family: 'Rubik', sans-serif;       
}
.carousel-inner {
height: 100hv;
}
.carousel-item {
    height: 100vh;
}
.carousel-item>img{
    height: 100%;
    object-fit: cover;
}
.carousel-caption{
    padding-bottom: 0;
    bottom: 0;
    top: 50%;
    transform: translateY(-25%);
}
h1{
    font-size: 50px;
}
.products .card img{
width: 100%;
height: 300px;
object-fit: cover;
}
.products .row>div:not(:last-child){
    margin-bottom: 30px;
}
.brand img{
width: 100%;
    height: 350px;
    object-fit: cover;
}
.brand .row>div:not(:last-child){
    margin-bottom: 25px;
}
.services .row>div:not(:last-child) {
    margin-bottom: 20px;
}
.contact{
    background-color: #eff2f5;
}
footer{
    background-color: #e5e7ea;
}
.a{
    padding: 10px;
    background-color: rgb(164, 35, 35);
}
.b{
    padding: 10px;
    background-color: rgb(69, 174, 24);
}
.c{
    padding: 10px;
    background-color: rgb(38, 81, 176);
}
.d{
    padding: 10px;
    background-color: rgb(198, 33, 206);
}
.e{
    padding: 10px;
    background-color: rgb(201, 134, 11);
}
